<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PowerMoneyBank</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" type="text/css" href="../history.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-auto">
					<ul>
						<li><a href=<%= "/" + name %>>Title page</a></li>
						<li><a href=<%= "/history/" + name %>>Pay history</a></li>
						<li><a href=<%= "/pay/" + name %>>Pay money</a></li>
						<li><a href=<%= "/payFinnaly/" + name %>>Pay money finnaly</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="settings" data-name=<%= "/history/" + name %>>
		<div class="container-fluid">
			<div class="row justify-content-between align-items-center">
				<div class="col-auto">
					<span class='typeElem'>All</span>
					<div class="dropdown">
						<i class="fa fa-caret-square-o-down dropbtn"></i>
						<div class="dropdown-content">
							<span>All</span>
							<%
							for(let i=0; i < news.length; i++) {%>
							<span><%= news[i].name[0].toUpperCase() + news[i].name.slice(1) %></span>
							<% } %>		  	
						</div>
					</div>
				</div>
				<div class="col-auto f">
					<span>Consumer &nbsp;</span> <span><%= name%></span>		
				</div>
			</div>
		</div>
	</div>

	<div class="historyTable">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-auto">
					<table>
						<tr>
							<th>Period</th>
							<th>Counted</th> 
							<th>Payment</th>
							<th>Debt</th>
							<th class='propertyHeadRow'>Property</th>
						</tr>

						<%
						for(var i=0; i<result.length; i++) {%>
						<tr class="tableRows">
							<td><%= result[i].month + "_" + result[i].year%></td>
							<td><%= result[i].consumeStats + " > " + result[i].value + "$" %></td>
							<td><%= result[i].payment + "$" %></td>
							<td><%= result[i].debt + "$" %></td>
							<td><%= result[i].property[0].toUpperCase() + result[i].property.slice(1) %></td>
						</tr>
						<% } %>

					</table>
				</div>
			</div>
		</div>
	</div>

<!-- 	<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
-->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='../script.js'></script>
<script type="text/javascript" src='../objects.js'></script>
</body>

</html>