<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PowerMoneyBank</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="title.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-auto">
					<ul>
						<li><a href=<%= "/" + name %>>Title page</a></li>
						<li><a href=<%= "/history/" + name%>>Pay history</a></li>
						<li><a href=<%= "/pay/" + name %>>Pay money</a></li>
						<li><a href=<%= "/payFinnaly/" + name %>>Pay money finnaly</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="navigationBar">
			<div class="container-fluid">
				<div class="row justify-content-center align-items-center">
					<div class="col-auto">
						<ul>
							<li><a href=<%= "/pay/" + name %>>Insert data in our dataBase - it's very easy</a></li>
							<li><a href=<%= "/payFinnaly/" + name %>>Pay cost of our service</a></li>
							<li><a href=<%= "/history/" + name%>>Check your payment history</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	<div class="enterBlockB">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-auto g">
					You are already on the site <br>
					<div class="quitFromSite">
						<button>Quit</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='../script.js'></script>
<script type="text/javascript" src='../objects.js'></script>
</body>

</html>